@font-face {
    font-family: "OpenSansSemiBold";
    src: url("../src/assets/fonts/OpenSans-SemiBold.ttf") format("truetype");
}

@font-face {
    font-family: "OpenSansBold";
    src: url("../src/assets/fonts/OpenSans-Bold.ttf") format("truetype");
}

@font-face {
    font-family: "OpenSansMedium";
    src: url("../src/assets/fonts/OpenSans-Medium.ttf") format("truetype");
}

@font-face {
    font-family: "OpenSansRegular";
    src: url("../src/assets/fonts/OpenSans-Regular.ttf") format("truetype");
}

@font-face {
    font-family: "OpenSansLight";
    src: url("../src/assets/fonts/OpenSans-Light.ttf") format("truetype");
}

$color-green-highlight: #26c17e;
$color-dark-blue: #222935;

body {
    font-family: "OpenSansRegular", sans-serif;
    line-height: 130%;
}

.home-container {
    width: 100%;
    height: 100%;
    background: url("./assets/images/home_bg.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: fixed;
    top: 0px;
    left: 0px;
    overflow: hidden;
    box-shadow: inset 0 0 0 2000px rgba(13, 13, 24, 0.645);
    color: white;

    .home-inner-container {
        max-width: 500px;
        margin: 124px auto 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 10px;
        text-align: center;

        .home-inner-container__name {
            font-family: "OpenSansBold", sans-serif;
            font-size: 45px;
            margin: 10px 0px 20px 0px;
        }

        .home-inner-container__position {
            font-family: "OpenSansSemiBold", sans-serif;
            font-size: 25px;
        }

        .home-inner-container__description {
            font-size: 14px;
        }

        .home-inner-container__button {
            width: 127px;
            height: 40px;
            border-radius: 5px;
            border-color: $color-dark-blue;
            background-color: $color-dark-blue;
            font-size: 16px;
            color: white;
        }
    }
}

.sidebar-container {
    display: flex;
    height: 100vh;
    position: sticky;
    top: 0px;

    .sidebar-inner-container {
        display: flex;
        flex-direction: column;
        flex: 1;

        .sidebar-inner-container__user {
            display: flex;
            flex-direction: column;
            gap: 10px;
            margin: 20px auto 40px;
            text-align: center;
        }
    }
}

.about-me-text {
    font-size: 14px;
    color: $color-dark-blue;
    margin: 0;
}

.main-page-container {
    display: flex;
    height: 100%;
}

.main-content-container {
    position: relative;
}




.expertise-container {
    display: flex;
    height: 100%;
    flex-direction: column;
    gap: 30px;
    color: $color-dark-blue;

    .expertise-container__item {
        display: flex;
        flex-direction: row;

        .expertise-container__header {
            display: flex;
            flex-direction: column;
            gap: 5px;
            min-width: 80px;
            margin-right: 30px;

            .expertise-container__company {
                font-family: 'OpenSansBold', sans-serif;
                font-size: 16px;
            }
        }

        .expertise-container__content {
            display: flex;
            flex-direction: column;
            gap: 5px;

            .expertise-container__content-job {
                font-family: 'OpenSansBold', sans-serif;
                font-size: 16px;
            }

            .expertise-container__content-description {
                font-size: 14px;
            }
        }
    }
}

.address-container {
    display: flex;
    flex-direction: column;
    gap: 25px;
    font-size: 16px;
    color: #222935;

    .address-container__item {
        display: flex;
        flex-direction: row;
        gap: 20px;

        .address-container__item-icon {
            min-width: 30px;
        }

        .address-container__item-description {
            display: flex;
            flex-direction: column;
            justify-content: center;

            span {
                font-family: 'OpenSansBold', sans-serif;
            }

            a {
                text-decoration: none;
                color: #222935;
            }
        }
    }

}

.feedbacks-container {
    display: flex;
    flex-direction: column;
    font-size: 16px;
    color: #222935;
    gap: 40px;

    .feedbacks-container-item {
        display: flex;
        flex-direction: column;
        gap: 20px;

        .feedbacks-container-item__img-name {
            display: flex;
            flex-direction: row;
            gap: 20px;
            align-items: center;
            font-size: 12px;

            a {
                text-decoration: none;
                color: $color-green-highlight;
            }
        }
    }
}

.user-photo-container {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    border: 1.5px solid white;
    overflow: hidden;
    width: 163px;
    height: 163px;

    .user-photo-image {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}