.bar-container {
    display: flex;
    align-items: center;
    margin-bottom: 5px;
}

.bar {
    height: 30px;
    background-color: #26C17E;
    display: flex;
    align-items: center;
}

.bar-label {
    margin-left: 15px;
    color: white;
}

.bar-chart-labels{
    margin-top: 25px;
}

.line {
    display: flex;
    justify-content: space-between;
    background-color: #667081;
    height: 1px;
}

.point {
    position: relative;
    width: 1px;
    height: 10px;
    background-color: #667081;
    top: -10px;
}

.labels-container {
    margin-top: 5px;
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: space-between;
}

.label {
    font-size: 12px;
    color: #667081;
}

#point1 {
    margin-left: 0;
}

#point2 {
    margin-left: 0px;
}

#point3 {
    margin-left: 300px;
}

#point4 {
    margin-left: 0;
}

@media (max-width: 600px) {
    .label {
        display: none;
    }

    #point3 {
        margin-left: 100px;
    }
}