.box-container {
    margin: 40px 40px 20px 20px;
    display: flex;
    flex-direction: column;
    gap: 40px;

    .box-container__header {
        display: flex;
        flex-direction: row;
        justify-content: space-between;

        .box-container__title {
            font-family: 'OpenSansBold', sans-serif;
            font-size: 25px;
            color: #26c17e;
            margin: 0;
        }
    }

    
}