.button {
    height: 40px;
    border: none;
    border-radius: 5px;
    background-color: #222935;
    font-size: 16px;
    color: white;
    transition: background-color 0.3s ease;
    padding: 0px 20px 0px 20px;

    &.disabled {
        background-color: #ced4da;
        cursor: not-allowed;
        opacity: 0.7;
        pointer-events: none;
      }
}

.button:hover {
    background-color: #26c17e;
}

.icon {
    font-size: 16px;
    margin-right: 10px;
}

@media (max-width: 600px) {
    .text-with-icon {
        display: none;
    }

    .icon {
        margin-right: 0;
    }
}

