    .loading-content {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    padding: 20px;
    border-radius: 8px;
  }
  
  .loading-icon {
    font-size: 24px;
    color: #26c17e;
  }
  