nav {
    width: 200px;
    /* Default width for larger screens */
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.navigation-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 40px;
    margin-top: 40px;
}

.navigation-container-item{
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.navigation-container-item__icon-wrapper {
    width: 20px;
}

.navigation-container-item__icon {
    color: #667081;
}

.navigation-container-item__title {
    color: #667081;
    font-size: 16px;
    line-height: 120%;
}

.active {
    color: #26c17e;
    font-family: 'OpenSansSemiBold', sans-serif;
}

@media (max-width: 600px) {
    nav {
        width: 20px;
    }

    nav span {
        display: none;
    }
}