.photobox-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 10px;
}

.title {
    color: white;
    font-family: 'OpenSansBold', sans-serif;
    font-style: normal;
    font-size: 16px;
}

@media (max-width: 600px) {
    .title {
        display: none;
    }
}