.panel-container {
    position: sticky;
    top: 0;
    left: 0;
    height: 100vh;
    background-color: #222935;
    transition: width 0.3s ease;
    width: 250px;
}

.collapsed {
    width: 0;
}

.panel-content {
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: space-between;
    justify-items: center;
    align-items: center;
}

.collapse-button {
    display: flex;
    width: 30px;
    height: 30px;
    position: sticky;
    top: 20px;
}

.panel-outer-container {
    display: flex;
    flex-direction: row-reverse;
}

.panel-content__user{
    margin-top: 20px;
}

.panel-content__nav{
    margin: 0 20px 100px 20px;
}

.panel-content__button{
    margin-bottom: 20px;
}

@media (max-width: 600px) {
    .panel-container {
        width: 55px;
    }

    .collapsed {
        width: 0;
    }
}

a{
    text-decoration: none;
}