.circle-container {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    border: 1.5px solid white;
    overflow: hidden;
    width: 100%;

    .circle-image {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}

.sm {
    width: 50px;
    height: 50px;
}

.md {
    width: 100px;
    height: 100px;
}

.lg{
    width: 163px;
    height: 163px;   
}


@media (max-width: 600px) {
    .collapsable {
        width: 40px;
        height: 40px;
    }
}