.portfolio-container{
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
}

.portfolio-outer-container{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.portfolio-filter{
    color: #222935;
    font-size: 16px;
    span:hover {
        color: #26C17E;
        cursor: pointer;
    }
}

.filter-active{
    color: #26C17E;
    animation: fadeIn 1s;
}