.portfolio-card {
    position: relative;
    max-width: 308px;
    max-height: 190px;
    overflow: hidden;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.3s ease;
}

.portfolio-card:hover {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.portfolio-card__image {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.portfolio-card__image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform 0.3s ease;
}

.portfolio-card__image:hover img {
    transform: scale(1.1);
}

.portfolio-card__overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    background-color: rgba(255, 255, 255, 1);
    opacity: 0;
    transition: opacity 0.3s ease;
}

.portfolio-card:hover .portfolio-card__overlay {
    opacity: 1;
}

.portfolio-card__content {
    padding: 20px 15px 15px 15px;
    text-align: left;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.portfolio-card__title {
    font-size: 16px;
    font-family: 'OpenSansBold', sans-serif;
    animation: fadeIn 1s ease;
    color: #26C17E;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(20px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.portfolio-card__description {
    color: #222935;
    font-size: 14px;
    line-height: 1.5;
    animation: fadeIn 1s ease 0.2s;
}

.portfolio-card__link a {
    color: #26C17E;
    animation: fadeIn 1s ease 0.4s;
    font-size: 14px;
}

.portfolio-card__tags {
    margin-top: 8px;
    animation: fadeIn 1s ease 0.6s;
}

.portfolio-card__tag {
    display: inline-block;
    padding: 4px 8px;
    background-color: #f1f1f1;
    border-radius: 4px;
    margin-right: 4px;
    animation: fadeIn 1s ease 0.8s;
}


@media (max-width: 600px) {
    .portfolio-card__description {
        display: none;
    }
}