.form-container {
    margin-bottom: 30px;
    padding: 20px 15px 20px 15px;
    border: 1px solid #26C17E;
    border-radius: 5px;
}

.form-input-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.form-input-inner {
    display: flex;
    flex-direction: row;
    gap: 20px;
    font-size: 14px;
    align-items: center;
}

.error-container{
    font-size: 14px;
    color: #cf0000;
}
