.small-button {
    display: flex;
    width: 30px;
    height: 30px;
    background-color: #222935;
    align-items: center;
    justify-content: center;
    
}

.small-button:hover {
    background-color: #26c17e;
}

.up {
    border-radius: 15% 15% 0% 0%;
}

.right {
    border-radius: 0% 15% 15% 0%;
}