.timeline-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
    color: #222935;
    max-height: 80vh;
    overflow-y: auto;
  }
  
  .timeline-container__item::after {
    background: #26c17e;
    position: absolute;
    left: 52px;
    width: 4px;
    height: 70px;
    content: "";
    margin-top: 40px;
  }
  
  .timeline-container__item {
    display: flex;
    flex-direction: row;
  }
  
  .timeline-container__date {
    font-family: 'OpenSansBold', sans-serif;
    font-size: 16px;
    padding: 15px 35px 0px 15px;
  }
  
  .timeline-container__content {
    display: flex;
    flex-direction: column;
    background-color: #EEEEEE;
    padding: 15px;
    gap: 15px;
  }
  
  .timeline-container__content-title {
    font-family: 'OpenSansBold', sans-serif;
    font-size: 16px;
  }
  
  .timeline-container__content-text {
    font-size: 14px;
  }
  
  .timeline-container__content::after {
    content: "";
    position: absolute;
    left: 100px;
    width: 0;
    height: 0;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    border-right: 10px solid #eee;
  }
  